/BronzeMembership.class
/DigitalCheckIn.class
/FreeBeverage.class
/FreeSnacks.class
/FreeWifi.class
/GoldMembership.class
/GoldMembershipApplicable.class
/HotelMembership.class
/HotelMembershipBronze.class
/HotelMembershipTest.class
/RoomType.class
/SilverMembership.class
/SilverMembershipApplicable.class
