/BootSize.class
/Colour.class
/Condition.class
/Footrests.class
/FuelType.class
/Handlebars.class
/MotorbikeType.class
/TransmissionTypes.class
/VehicleCar.class
/VehicleLorry.class
/VehicleLorrySize.class
/VehicleLorryTrunkShape.class
/VehicleLorryTrunkSize.class
/VehicleMotorbike.class
/VehicleTests.class
/Vehicles.class
